<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css">
    
</head>
<body>
    <nav>
        <div class="logo">Sweet Hanguk Dreams</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Index</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Contact</a></li>
        </ul>
    </nav>

        <main class="main">
            <section>
                <h1>
                    Reviews
                </h1>
                <h2>
                    Titre
                </h2>
                <figure class="imgreview">
                    <img  src="../img/TIMFL2.jpg" alt="">
                </figure>
                <h3>
                    The Story
                </h3>
                <p>
                    Nam Se-Hee (Lee Min-Ki) is a single man in his early 30’s. He has chosen to not marry. He owns his home, but he owes a lot on his mortgage. Yoon Ji-Ho (Jung So-Min) is a single woman in her early 30’s. She does not own a home and envies those that do. She has given up on dating due to her financial struggles. Yoon Ji-Ho begins to live at Nam Se-Hee’s house. They become housemates.
                </p>
                <h3>
                    Details
                </h3>
                <div class="detailsreview">
                    <p>
                        <span>Aired</span> : date - date
                    </p>
                    <p>
                        <span>Episodes</span> : number(time lenght)
                    </p>
                    <p>
                        <span>Genre</span> : Categories
                    </p>
                    <p>
                        <span>Cast</span> : Actors
                    </p>
                </div>
                <div class="lesboutons">
                <button>Charge More</button>
            </div>
        </section>
        </main>
            
<footer>
    <section class="bgfooter">
       <h5> Suscribe to my newsletter</h5>
       <label for="email">Email Address* :</label> <br>
       <input class="mail" type="mail" id="mail" name="mail"> <br>
       <input class="submit" type="submit" name="SUBMIT" id="submit" value="SUBMIT">

    </section>
</footer>
</body>
</html>
