<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index des dramas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css">
    
</head>
<body>
    
        <nav>
            <div class="logo">Sweet Hanguk Dreams</div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Index</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <main>
            <section class="main">
                <h1>
                    INDEX
                </h1>
                <p>
                    On this page you’ll find the <span class="orange"> list of all the Kdramas</span> i watched, the <span class="orange">score</span> i gave to them, and if there is, the <span class="orange">article linked</span> to it with my <span class="orange">full review</span>.
                </p>

                <div class="listedesdramas">
                    <ul>
                        <li><span class="orange">0-9</span></li>
                        <li>18 Again <span class="orange">7,5/10</span>
                        </li>
                        <li>20th Century Boy and Girl <span class="orange">6/10</span>
                        </li>
                        <li>7 First Kisses <span class="orange">2/10</span>
                        </li>
                        <li><span class="orange">A</span>
                        </li>
                        <li>A Korean Odyssey <span class="orange">6,5/10</span>
                        </li>
                        <li>About Time <span class="orange">7/10</span>
                        </li>
                        <li>Abyss <span class="orange">7/10</span>
                        </li>
                        <li>Age of Youth <span class="orange">9,5/10</span>
                        </li>
                        <li>All of Us are Dead <span class="orange">8/10</span>
                        </li>
                        <li>Angel’s Last Mission <span class="orange">7/10</span></li>
                    </ul>
                </div>
            </section>

            <section class="boutonnumber">
                <FORM ACTION="1.html" >
                    <INPUT TYPE="SUBMIT" VALUE="    1    ">
                  </FORM>
                  <FORM ACTION="2.html" >
                    <INPUT TYPE="SUBMIT" VALUE="    2    ">
                  </FORM>
                  <FORM ACTION="3.html" >
                    <INPUT TYPE="SUBMIT" VALUE="    3    ">
                  </FORM>
            </section>
            
        </main>
            
<footer>
    <section class="bgfooter">
       <h5> Suscribe to my newsletter</h5>
       <label for="email">Email Address* :</label> <br>
       <input class="mail" type="mail" id="mail" name="mail"> <br>
       <input class="submit" type="submit" name="SUBMIT" id="submit" value="SUBMIT">

    </section>
</footer>
</body>
</html>
