
@font-face {
    font-family: 'SF Compact Display' ;
    src:url('../font/FontsFree-Net-SFCompactDisplay-Regular.ttf')format('ttf')
    font-weight: normal;
    font-style:normal;
}

@font-face{
    font-family: 'Opificio';
    src:url('../font/opificio_bold_rounded.ttf')format('ttf'),
    url('../font/opificio_bold.ttf')format('ttf'),
    url('../font/opificio_light_rounded.ttf')format('ttf'),
    url('../font/opificio_light.ttf')format('ttf'),
    url('../font/opificio_regular.ttf')format('ttf'),
    url('../font/opificio_rounded.ttf')format('ttf');

}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    display: flex;
    background: #FAF7EF;
}

figure {
    margin: 0;
    padding: 0;
}

/* <----- menu de navigation -----> */
nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: #FFBA7E;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: Opificio;
    margin-left: 2%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    font-family: 'SF Compact Display';
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active{
    color: #FFBA7E;
    background: #fff;
}
nav ul li a:hover {
    color: #000;
    opacity: 50%;
     
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #FFBA7E;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }
}
.navitem{
    margin: 0px 20px;
}

.navitem a{
    color:white;
}

.navitem a:hover {
    opacity:0.5;      
}

/* <----- premier block de chaque page -----> */

.firstimg{
display: none;
}

.main{
   margin: 100px 10px 50px 10px;
}

.main h1{
    text-align: center;
    font-size: 30px;
    font-family: Opificio;
}

.main h2{
    text-align: center;
    font-size: 18px;
    font-family: Opificio;
}

.main h3{
    text-align: center;
    font-size: 25px;
    font-family: Opificio;
}

.main p{
    text-align: center;
    font-size: 20px;
    font-family:'SF Compact Display';
    color: rgb(53, 53, 53);
}

.main a{
    font-family: 'SF Compact Display';
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.main span{
    font-weight: 600;
}


a{
    text-decoration: none;
    color:black;
}

/* <----- code general pour les boutons -----> */

.lesboutons{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

button {
    display: inline-block;
    background-color: #FFBA7E;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    margin: 15px 15px;
    font-family: 'SF Compact Display';
    text-transform: uppercase;
}

/* <----- première section de la page home -----> */

.firstsection{
    background-color: #FAF7EF; 
    display: flex;
    flex-wrap:wrap;
    width: 100%;
        
}

.contentone {
    width: 100%;
}

.contentone p{
    font-family: Opificio;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.imgdrama{
        font-family: 'SF Compact Display';
        color: #373636;
        margin: 10px 40px
    }  
    
.imgdrama h4{
    font-size: 20px;
    margin: 10px 0px 15px 0px;
}

.firstdrama {
     margin-bottom: 50px;
}

.seconddrama {
    margin-bottom: 50px;
}

.thirddrama {
    margin-bottom: 20px;
}

.imgdrama a{
   color: #5c5b5b;
   text-decoration: underline;
   margin-bottom: 10px;
   font-size: 20px;
   text-align: center;
   
}

.imgdrama a:hover {
    background-color: #FFBA7E;
    color:#fff
  }

  /* <----- deuxième section de la page home -----> */

.about{
    background: url("../../img/fishcake.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 60vh;
}

.textabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: rgba(236, 235, 235, 0.467);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  
 
}
.textabout h2{
    text-align: center;
    font-size: 18px;
    font-family: Opificio;
}

.textabout p{
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    font-family:'SF Compact Display';
    color: rgb(79, 79, 79);
    
}
.secondimg{
  
    width: 100%;
    margin: 0;
    padding: 0;
}

/* <----- deuxième section de la page about -----> */

.aboutnumbers{
    background-color: #FAF7EF;
    padding-bottom: 5%;
    padding-top: 5%;
}

.aboutnumbers p{
text-align: center;
font-size: 30px;
font-family: Opificio;
font-weight: 100;
color:#2C2C2C;
}

.aboutnumbers h3{
    text-align: center;
    font-size: 50px;
    font-family: 'SF Compact Display';
    font-weight: 400;
    margin: auto;
    color:#2C2C2C;
}

/* <----- footer -----> */

.bgfooter{
    padding-top: 5%;
    padding-left: 20px;
    background: #FFBA7E;
    color: rgb(53, 53, 53);
}
.bgfooter h5{
    font-family: Opificio;
    font-size : 25px;
}

.submit {
    background-color:#fff; 
    border-radius: 20px;
    border: none;
    color: #FFBA7E;
    text-align: center;
    font-size: 20px;
    padding: 15px 20px;
    width: 150px;
    margin: 50px 0px;
    font-family: 'SF Compact Display';
    text-transform: uppercase;
}

.bgfooter label{
    font-family: 'SF Compact Display';
}
.mail{
    width: 200px;
    height: 33px;
}

/* <----- formulaire contact -----> */

.formulaire{
    margin-top: 15%;
}

.formulaire h1{
    font-family: Opificio;
    font-size:30px;
    text-align: center;
}

.formulaire p{
    font-family: 'SF Compact Display';
    color: rgb(53, 53, 53);
    text-align: center;
}

form{
    margin : 15px;
}

form label{
    font-family: 'SF Compact Display';
    color: rgb(53, 53, 53);
    font-weight: 600;
}

form input{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#ffd5b1;
    font-family: 'SF Compact Display';
    padding: 3%;
    font-size: 15px;
}

form textarea{
    margin-top: 2%;
    background-color:#ffd5b1;
    font-family: 'SF Compact Display';
    font-size: 15px;
}


.submitcontact{
    background-color:#FFBA7E; 
    border-radius: 20px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 15px 20px;
    width: 150px;
    margin: 50px 0px;
    font-family: 'SF Compact Display';
    text-transform: uppercase;
}

.emailform {
    margin: 10%;
    font-family: 'SF Compact Display';
    text-align: justify;
}

/* <----- page index dramas -----> */

.orange{
    color: #FFBA7E;
}

.listedesdramas li{
    list-style: none;
    text-align: center;
    font-weight: 600;
    font-family: 'SF Compact Display';
    font-size: 20px;
    line-height: 50px;
}

.boutonnumber{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.boutonnumber input{
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color:white;
    font-weight: 600;
}

/* <----- article review -----> */


.detailsreview p{
    text-align: left;
}

/* <----- css du back office -----> */

.dashboard{
    margin: 10%;

}

.dashboard button{
    font-size: 20px;
}

.dashbord-index{
    display: flex;
    flex-wrap: wrap;
    font-family: 'SF Compact Display';
    text-align: center;
}

.dashbord-index div {
    border: 1px solid black; 
    width: 100%;  
}

.dashbord-index a{
    text-decoration: underline;
}

.dashboard-pages{
    border: 1px solid black; 
    padding: 2%;
}

.timestamp{
    font-size: 10px;
}

.edit{
    float: right;
}

.dashboard-nav{
width: 100%;
display: flex;
justify-content: space-around;
border: 1px solid black; 

}

.dashboard-nav p{
    display: inline-block;
    
}

.table{
    border-collapse:collapse;
}
